<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Bogor, tanggal</p>
    <p></p>
    <p>Kepada Yth.</p>
    <p></p>
    <p>Dengan Hormat,</p>
    <ke>Bersama dengan email ini kami mohon kepada Pertamina Pusat untuk dapat mengirimkan BBM jenis Pertalite sebesar 1000ml 
        ke SPBU 01-123-45 yang bertempat di:</p>
    <p>Lokasi : Jl. Mawar No. 20 Bogor</p>
    <p>Tanggal: tanggal</p>
    <p>Untuk itu, kami mohon untuk dikirimkan BBM jenis pertalite ke lokasi dan tanggal yang sudah tertera.</p>
    <p>Atas perhatian dan kerjasamanya, kami ucapkan terima kasih.</p>
    <p></p>
    <p></p>
    <p>Hormat kami,</p>
    <p></p>
    <p></p>
    <p>Atik Medixa Winesti</p>
</body>
</html>